
#main-div {
    padding-top: 50px;
}


#map {
    align-items: center;
    width: 500px;
    height: 500px;
}

#bd-item {
    padding-bottom: 25;
}

#heading-div {
    padding-bottom: 50px;
}

#link-div {
    padding-top: 100px;
}

#form-div {
    justify-items: left;
}

.flash-msg {
    background-color: yellow;
}

#sub-heading-div {
    
    padding-bottom: 15px;
}

#list-items {
    align-items: center;
}
