{% extends 'base.html' %}
{% block title %}Get Organized{% endblock %}

{% block head %}{% endblock %}

{% block body %}

    <div id="main-div" class="container text-center">
        <h1>Welcome!</h1>
            <p>
                This app is designed to give you a space to empty
                your brain so you can better organize your thoughts.
                Brain dumping makes the process of building and executing
                a to do list much simpler! If you are an existing user,
                please login <a href="/user_login"><strong>here</strong></a>.
                If you're new to the app, please create an account 
                <a href="/create-account"><strong>here</strong></a>. Happy organizing!
            </p>
    </div>
                            

{% endblock %}