{% extends 'base.html' %}

{% block title %}Reminders{% endblock %}

{% block body %}
    <div id="main-div" class="container text-center">
        <div class="heading-div">
                <h2>Create New To Do List Item</h2>
        </div>
            <main class="main" id="to-do-main">
                <form action="/create-to-do" id="to-do-form" method="POST">
                    <label for="to-do-name">To Do:</label>
                    <br>
                        <input class="to-do-value form-control" type="text" id="to-do-name" name="to-do">
                            <br>
                                <button type="submit" name="submit" class="btn btn-info" value="submit">Submit</button>
                            </form>
                        </main>
                    
                

                    <div id="link-div"> 
                    <a href='/dashboard'>Return to Dashboard</a>
                    </div>
                </div>
    
                         
            {% endblock %}