{% extends 'base.html' %}

{% block title %}Reminders{% endblock %}

{% block body %}
    <!-- <div id="main-div" class="container text-center"> -->
        <div id="heading-div">
                <h1>Create New To Do List Item</h1>
        </div>
        <div class="container-fluid bd-to-do-div" id="content-div">
            <p>Type in your to do item and press the submit button below.
            Your to do list can be accessed on your user dashboard.</p>
                <form action="/create-to-do" id="to-do-form" method="POST">
                    <h5 for="to-do-name">To Do:</h5>
                    <input class="to-do-value form-control" type="text" id="to-do-name" name="to-do"><br>
                    <button type="submit" name="submit" class="btn btn-info" value="submit">Submit</button>
                </form>
        </div>
                    
                

                    <div id="link-div"> 
                    <a class="primary-link" href='/dashboard'>Return to Dashboard</a>
                    </div>
                <!-- </div> -->
    
                         
            {% endblock %}