{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
  <div id="heading-div">
  <h1>Member Log In</h1>
</div>
<div class="container" id="content-div">
  <form action="/login" method="POST">
    <div class="input-group mb-3">
      <span class="input-group-text" id="form-input">@</span>
      <input type="text" class="form-control" name="email" placeholder="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="form-input"><i class="bi bi-key"></i></span>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
      <i class="bi bi-eye-slash btn btn-info btn-sm" id="togglePassword"></i>
    </div>
    <input class="btn btn-info" type="submit" value="Login">
  </form>
</div>
<div id="link-div">
  <a class="primary-link" href="/create-account">Create your Account</a>
</div>




{% endblock %}