{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
<div id="main-div" class="container text-center">
  <div id="heading-div">
  <h2>Member Log In</h2>
</div>
<div id="form-div">
  <form action="/login" method="POST">
    <div class="input-group mb-3">
      <span class="input-group-text" id="form-input">@</span>
      <input type="text" class="form-control" name="email" placeholder="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="form-input"><i class="bi bi-key"></i></span>
      <input type="text" class="form-control" name="password" placeholder="Password" aria-describedby="basic-addon2">
    </div>
    <input class="btn btn-info" type="submit" value="Login">
  </form>
</div>
<div id="link-div">
  <a href="/create-account">Create your Account</a>
</div>
</div>



{% endblock %}